{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "lodash",
      {
        "id": [
          "lodash",
          "react-router-dom",
          "recompose",
          "semantic-ui-react"
        ]
      }
    ]
  ]
}