{
  "presets": [
    "next/babel",
    "env",
    "stage-0"
  ],
  "plugins": [
    ["transform-define", "./env-config.js"],
    ["lodash", {"id": ["lodash", "recompose", "reactstrap", "validator"]}]
  ]
}